body {
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
}

/* .semi-layout-header {
    height: 64;
    line-height: "64px";
    background-color: "var(--semi-color-fill-0)";
}

.semi-layout-footer{
    height: 64;
    line-height: "64px";
    background-color: "var(--semi-color-fill-0)";
} */
