# IDE files
.vscode
.pytest_cache
.ignore

# Python files
__pycache__/
dist/
poetry.lock

# Frontend files
node_modules
frontend_dist/

# test files
test/optional
build_and_reinstall_wheel.cmd

# log files
logs/
log/
.log

# neetbox files
neetfiles
