[tool.poetry]
name = "neetbox"
version = "0.1.509"
description = "NEETBox contains useless CV code snippets."
license = "MIT"
authors = ["VisualDust <gavin@gong.host>"]
maintainers = [
    "VisualDust <gavin@gong.host>",
    "PommesPeter <me@pommespeter.space>",
    "PaperCube <imzhy@hotmail.com>"
]


readme = "README.md"
homepage = "https://neetbox.550w.host"
repository = "https://github.com/visualDust/neetbox"
keywords = ["computer vision", "tools", "logging"]
classifiers = [
    "Development Status :: 1 - Planning",
    "Environment :: Console",
    "Framework :: Matplotlib",
    "Programming Language :: Python",
    "Topic :: Scientific/Engineering :: Visualization",
    "Topic :: Software Development :: Testing",
    "Topic :: System :: Logging",
    "Topic :: Utilities",
]

# [[tool.poetry.source]]
# name = "pypi"
# url = "https://pypi.org/simple"
# default = true

[tool.poetry.dependencies]
python = ">=3.8,<4"
numpy = ">=1"
tqdm = ">=4"
colorama = ">=0.3"
toml = ">0.10"
gputil = ">=1.4"
psutil = ">=5.0"
injector = ">=0.20"
pyfiglet = ">=0.8"
flask = "^2.2.3"
setproctitle = "^1.3.2"
requests = "^2.28.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry.scripts]
neet = 'neetbox.cli.parse:parse'
