/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #363636;
  --ifm-link-color: #a82121;
  --ifm-color-primary-dark: #707070;
  --ifm-color-primary-darker: #636363;
  --ifm-color-primary-darkest: #5a5a5a;
  --ifm-color-primary-light: #8c8c8c;
  --ifm-color-primary-lighter: #9c9c9c;
  --ifm-color-primary-lightest: #a7a8a8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #cecece;
  --ifm-link-color: #d94242;
  --ifm-color-primary-dark: #a3a3a3;
  --ifm-color-primary-darker: #a1a1a1;
  --ifm-color-primary-darkest: #7c7c7c;
  --ifm-color-primary-light: #d3d3d3;
  --ifm-color-primary-lighter: #d0d0d0;
  --ifm-color-primary-lightest: #dfdfdf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
