.rootSignupLogins {
  align-items: center;
  background: rgb(var(--semi-grey-0));
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  row-gap: 0;
  /* width: 1440px; */
  display: flex;
  font-family: "PingFang SC";
  text-align: center;
  letter-spacing: -0.32px;

  .main {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 10px;
    row-gap: 10px;
    align-self: stretch;

    .login {
      align-items: center;
      background: var(--semi-color-bg-0);
      border-radius: 8px;
      box-shadow:
        0px 4px 14px 0px #0000001a,
        0px 0px 1px 0px #0000004d;
      display: flex;
      flex-direction: column;
      height: 450px;
      padding: 48px 56px;
      width: 440px;
      flex-shrink: 0;

      .logo {
        height: 100px;
        width: 100px;
        flex-shrink: 0;
      }

      .title {
        color: var(--semi-color-text-0);
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;
        min-width: 128px;
        vertical-align: middle;
        flex-shrink: 0;
      }

      .form {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        row-gap: 28px;
        align-self: stretch;

        .inputs {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          row-gap: 24px;
          align-self: stretch;
        }

        .button {
          height: 40px;
          width: 440px;
        }
      }
    }
  }
}
