@import "../../../../public/fonts/maple/maple.css";

.log-item {
  margin-bottom: 5px;
  font-family: "MapleMono", monospace;
  white-space: pre-wrap;
  font-size: 13px;

  .log-tag {
    display: inline-block;
    --log-tag-bg-hs: 0, 0%;
    --log-tag-bg-l: 80%;
    background-color: hsl(var(--log-tag-bg-hs), var(--log-tag-bg-l));
    padding: 0 3px;
    border-radius: 5px;
  }

  .log-whom {
    --log-tag-bg-l: 30%;
    background-color: rgba(var(--semi-grey-1));
  }

  .log-prefix-info {
    background-color: var(--semi-color-info);
    color: var(--semi-color-default);
  }

  .log-prefix-mention {
    background-color: var(--semi-color-secondary);
    color: var(--semi-color-default);
  }

  .log-prefix-ok {
    background-color: var(--semi-color-success);
    color: var(--semi-color-default);
  }

  .log-prefix-warning {
    background-color: var(--semi-color-warning);
    color: var(--semi-color-default);
  }

  .log-prefix-debug {
    background-color: var(--semi-color-link);
    color: var(--semi-color-default);
  }

  .log-prefix-error {
    background-color: var(--semi-color-danger);
    color: var(--semi-color-default);
  }
}

[theme-mode="dark"] .log-item .log-tag {
  --log-tag-bg-l: 30%;
}

[theme-mode="dark"] .log-item .log-whom {
  --log-tag-bg-l: 80%;
}
