/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

html {
  scroll-behavior: smooth;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature-card {
  background-color: var(--ifm-color-emphasis-100);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 5px;
}

html[data-theme='dark'] .feature-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.feature-card-text {
  color: var(--ifm-color-content-secondary);
  text-align: center;
}
