body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root {
  --page-theme-changing-origin: 50% 50%;
}
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-new(root) {
  animation: page-theme-changing 0.7s ease-in;
  mix-blend-mode: normal;
}
@keyframes page-theme-changing {
  0% {
    clip-path: circle(0% at var(--page-theme-changing-origin));
  }
  100% {
    clip-path: circle(141% at var(--page-theme-changing-origin));
  }
}
