name: Frontend Build & Lint

on:
  push:
    paths:
      - "frontend/**"
  pull_request:
    paths:
      - "frontend/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "yarn"
          cache-dependency-path: "frontend/yarn.lock"
      - name: setup yarn
        run: corepack enable
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn tsc
        if: "!cancelled()"
      - run: yarn lint
        if: "!cancelled()"
      - run: yarn prettier-check
        if: "!cancelled()"
